<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单词</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/word.css">
</head>
<body>
<div class="word container w1">
    <div style="width: 100%;height: 10px;"></div>
    <!--返回-->
    <div class="row word_return">
        <div class="col-md-3 col-xs-3"><span class="glyphicon glyphicon-menu-left" id="return" style="font-size: 28px"
                                             onclick="returnIndex();"></span></div>
        <div class="col-md-6 col-xs-6"
             style="text-align: center;font-size: 18px;font-family: 'KaiTi';font-weight: bold">单词背诵
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <p class="" style="margin: 0;font-size: 12px;text-align:center;">待学单词 <span class="newWordCount">15</span>
            </p>
        </div>
    </div>
    <div style="width: 100%;border: 1px solid #e6e6e6;margin-top: 5px;"></div>
    <!--单词以及发音-->
    <div class="row wordAndPron" style="margin-top: 40px;">
        <p class="text-center" style="font-size: 24px" id="word"></p>
        <p class="text-center">英 [<span id="pron_uk"></span>] <span
                class="glyphicon glyphicon-volume-down pron_uk_volume"></span></p>
        <p class="text-center">美 [<span id="pron_us"></span>] <span
                class="glyphicon glyphicon-volume-down pron_us_volume"></span></p>
    </div>
    <!--显示释义区-->
    <div class="row word_meaning">
        <div class="col-md-offset-5 col-md-2" id="meanBtn" style="text-align: center;line-height: 200px;"
             onclick="showMean();">
            <span>显示释义</span>
        </div>

        <div class="meaningArea">
            <div class="center-block" style="text-align: center;padding-top: 90px;" id="meaning">

            </div>
        </div>
    </div>

    <div class="row hidden-xs">
        <div class="setOK col-md-offset-4 col-sm-offset-4 col-sm-4 col-md-4" style="text-align: center">
            <span class="glyphicon glyphicon-ok-sign master"></span> 已掌握
        </div>
    </div>
    <div class="row hidden-xs nextWord">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4" style="text-align: center">
            <span class="glyphicon glyphicon-arrow-right next_word"></span> 下一个
        </div>
    </div>
    <div class="row hidden-xs wordDetail">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4" style="text-align: center">
            <span class="glyphicon glyphicon-question-sign detail_word"></span> 详 细
        </div>
    </div>


</div>

<div class="wordDetailBox container" style="padding: 0 10px 10px 10px;">
    <!--    单词-->
    <div class="row wordName">
        <div class=" col-xs-10">
            <p class="word" style="font-size: 20px;font-weight: 700;"></p>
        </div>
    </div>
    <!--    音标-->
    <div class="row wordPron">
        <div class=" col-md-10 col-xs-10">

            <p>英 [<span id="uk">'kəʊdɪŋ</span>] <span class="glyphicon glyphicon-volume-down pron_uk_volume"></span></p>
            <!--            <audio id="soundUK" class="sound"  src="http://media.shanbay.com/audio/uk/coding.mp3"></audio>-->
            <p>美 [<span id="us">'koʊdɪŋ</span>] <span class="glyphicon glyphicon-volume-down pron_us_volume"></span></p>
            <!--            <audio id="soundUS" class="sound"  src="http://media.shanbay.com/audio/us/coding.mp3"></audio>-->
        </div>
    </div>
    <!--    分类-->
    <div class="row classification">
        <div class=" col-md-10 col-xs-10">
            <p id="wordTag" style="font-style:italic;font-size: 14px">CET4/CET6/GRE/考研</p>
        </div>
    </div>
    <!--    <div class="row" style="height: 20px;background-color: #fff;"></div>-->

</div>
<div class="wordDetailBox container" style="padding: 0 10px 10px 10px;">
    <!--    释义-->
    <div class="row wordPara">
        <div class="col-xs-10"><h4 style="font-weight: 700;">单词释义</h4></div>
        <div class="col-xs-12">
            <p class="wordParaP"></p>
        </div>
    </div>
    <!--    <div class="row" style="height: 20px;background-color: #fff;"></div>-->


</div>
<div class="container wordDetailBox sentences" style="padding: 0 10px 10px 10px;margin-bottom: 70px;">
    <div class="row">
        <div class="col-xs-12">
            <h4 style="font-weight: 700;">双语例句</h4>
        </div>
    </div>

</div>

<!--再来一组-->
<div class="modal fade" id="again" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">是否再来一组？</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default backIndex" data-dismiss="modal"><a href="/">返回首页</a>
                </button>
                <button type="button submit" class="btn btn-primary sure">确定</button>
            </div>
        </div>
    </div>
</div>

<audio id="sound" class="sound" style="width: 0;height: 0;" src=""></audio>
<!--底部按钮-->
<div class="row word_bottom footer navbar-fixed-bottom">
    <div class="col-xs-4 visible-xs setOK"><span class="glyphicon glyphicon-ok-sign"></span> 已掌握</div>
    <div class="col-xs-4 visible-xs nextWord"><span class="glyphicon glyphicon-arrow-right"></span> 下一个</div>
    <div class="col-xs-4 visible-xs wordDetail"><span class="glyphicon glyphicon-question-sign"></span> 详 细</div>
</div>
</body>

<script src="/jq/jquery.min.js"></script>
<script src="/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="/js/memorize.js"></script>
<script>


</script>
</html>