
#searchWord {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    margin: 1% 0 2% 2%;
    background: none;
    outline: none;
    border: 1px solid transparent;
    font-size: 20px;
    border-bottom: 1px solid #515151;
}

#searchWord:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-transition:border linear .1s,-webkit-box-shadow linear .2s;
    border-color: rgba(112, 136, 142, 0.75);
    -webkit-box-shadow: inset 0 8px 8px rgba(0,0,0,.075),0 0 16px rgba(102,175,233,.6);
    box-shadow: inset 0 8px 8px rgba(0,0,0,.075),0 0 16px rgba(102,175,233,.6)
}

#searchBtn{
    width: 40px;
    height: 40px;
    margin: 1% 0 0 5px;
    outline: none;
    border:0;
    border-radius: 25%;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #000000;
}

#tips{
    position: absolute;
    left: 0;
    top: 46px;
    width: 100%;
    border-radius:15px;
    border: #bfbfbf solid 1px;
    background-color: #ffffff;
    z-index: 10;
    /*padding-left: 10px;*/
    display: none;
    font-size: 16px;

}


#tips div{
    height: 32px;
}

#tips div li{
    list-style: none;
    font-size: 16px;
    padding: 5px 10px;
}
#tips>div:hover{
    background-color: #ececec;
    cursor: pointer;
    border-radius: 15px;
    padding-left: 20px;
}

#tips .text-right{
    width: 60%;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tips .text-left{
    width: 40%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
    color: #2b669a;
}
